{% extends "base.html" %}

{%  block content %}
<p>Hello I update form</p>
<input id="redirect" type="hidden" name="return_url" value="{% url "row_session-detail" object.pk %}">
<form id="row_session" class="form-contol" action="" method="post">
  {% csrf_token %}
  {{ form.as_p }}
  <input class="btn btn-primary" type="submit" name="Update" value="Update">
</form>
<div class="players">
  {% for player in list_of_entry %}
  <div class="player">
    <form class="player_form player_update form-control" action="{% url 'player-update' player.0.pk %}" method="post">
    <div class="row">
      {% csrf_token %}
      {{ player.1.as_p }}
      <button class="btn btn-primary" type="submit" name="button">Update</button>
    </div>
    </form>
  </div>
  {% endfor %}
  <div class="player">
  <form class="player_form player_create form-control" action="{% url 'player-create' %}" method="post">
    <div class="row">
      {% csrf_token %}
      {{ player_form.as_p }}
      <button class="btn btn-success" type="submit" name="button">Create</button>
    </div>
  </form>
  </div>
</div>

{% endblock content %}

{% block extra_js %}
<script>
  $( document ).ready( function() {
    $( "#row_session" ).submit(function( event ) {
      event.preventDefault();
      $.ajax({
        url: $(this).attr("action"),
        method: $(this).attr("method"),
        data: $(this).serializeArray(),
        success: function(response, status, request ) {
          window.location.href = $("#redirect").attr("value")
        }
      })
    });
    $( ".player_update" ).submit(function( event ) {
      event.preventDefault();
      $.ajax({
        url: $(this).attr("action"),
        method: $(this).attr("method"),
        data: $(this).serializeArray(),
        success: function(response) {
          console.log(response)
          alert("success")
        }
      })
    });
  })
</script>
{% endblock %}
